<h2>Device </h2>
<div class="row">
  <div class="device col-sm-3" *ngFor="let checkbox of checkboxes">
    <input #input type="checkbox" checked="" value="" [checked]="checkbox.checked"
           (click)="toggleDevice(checkbox.device, input)">
    <span> {{checkbox.device.description}}</span>
  </div>
</div>
<button class="btn btn-primary mt-3" (click)="selectAll()">Select / Deselects all devices</button>

