<h2>Country</h2>
<div class="country" *ngFor="let checkbox of checkboxes">
  <input #input type="checkbox" value="" [checked]="checkbox.checked"
         (click)="toggleCountry(checkbox.country, input)">
  <span> {{checkbox.country}}</span>
</div>
<button class="btn btn-primary mt-3" (click)="selectAll()">Select / Deselects all countries</button>
