<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <app-country-filter [countries]="countries"
                          [value]="countries"
                          (changed)="setCountryFilter($event)"></app-country-filter>
    </div>
    <div class="col-sm">
      <app-device-filter [devices]="devicesList"
                         [value]="devicesList"
                         (changed)="setDeviceFilter($event)"></app-device-filter>
    </div>
  </div>

  <div class="row mt-5">

    <div class="col-md-6">
      <h3>Results of overall experience:</h3>
      <ag-grid-angular
        style="width: 402px; height: 300px;"
        [enableSorting]="false"
        [enableFilter]="false"
        class="ag-theme-balham"
        [rowData]="rowData"
        [columnDefs]="columnDefs">
      </ag-grid-angular>
    </div>

    <div class="col-md-6">
      <h3>Results of experience per device:</h3>
      <ag-grid-angular
        style="width: 600px; height: 400px;"
        [enableSorting]="false"
        [enableFilter]="false"
        class="ag-theme-balham"
        [rowData]="rowData2"
        [columnDefs]="columnDefs2">
      </ag-grid-angular>
    </div>
  </div>
</div>





